<div class="top">
  <img src="./../../assets/images/Vector.png" alt="logo" class="topelement">
  <p class="topelement">My Portal{{myLocation}}</p>

  <input type="search" class="topelement searchbar" placeholder="    Search employee or project....." >
  <img src="./../../assets/images/notification.png" alt="..." style="position: absolute;left: 95%; top: 20px;"(click)="onClickingBell()">
</div>


<!-- <div>
  <table class="boxContainer">
    <tr class="elementsContainer">
      <td>
        <input type="text" placeholder="search" class="search">
      </td>
      <td>
        <a href="#"><img class src="./../../assets/images/search.png" alt="..."></a>
      </td>
    </tr>
  </table>
</div> -->
