<section>
  <span class="inline">
    <img src="./../../assets/images/update.png" alt="...">
  </span>
  <span class="inline" style="width: 69%;">
    <p style="line-height: 0.7em;">&nbsp;&nbsp;Portal application version 1.0.1 Released <br>
    <small style="font-size: 0.8em;color: #e2e1e1;font-weight: normal;">&nbsp;&nbsp;&nbsp;New Version includes bug fixes and a few enhancements.</small>
    </p>
  </span>
  <span class="inline" >
    <p class="seedetails">see details</p>
  </span>
</section>
