<app-searchbar #searchBar (updatePage)="changePageTo($event)"></app-searchbar>
<app-sidebar #sideBar (updatePage)="changePageTo($event)"></app-sidebar>
<app-your-projects #yourProjects (updatePage)="changePageTo($event)" [hidden]="sideBar.pageToShow!==1"></app-your-projects>
<app-your-worklist #yourWorklist (updatePage)="changePageTo($event)" [hidden]="sideBar.pageToShow!==1"></app-your-worklist>
<app-your-report #yourReport (updatePage)="changePageTo($event)" [hidden]="sideBar.pageToShow!==1"></app-your-report>
<app-portal-updates #portalUpdates [hidden]="sideBar.pageToShow!==1"></app-portal-updates>
<app-reports #reports [hidden]="sideBar.pageToShow!==3"></app-reports>
<app-projects #projects [hidden]="sideBar.pageToShow!==4"></app-projects>
<app-messages #messages [hidden]="sideBar.pageToShow!==2"></app-messages>
