


<ul class="side-menu">

   <li>Dashboard</li>
   <li>
     <ul>
       <li (click)="onSelection(1)"><img src="./../../assets/images/home.png" alt=".." height="26.21px" width="36.48px"> &nbsp;&nbsp;&nbsp;&nbsp;Home</li>
       <li (click)="onSelection(2)"><img src="./../../assets/images/message.png" alt="" height="25.21px" width="35.48px"> &nbsp;&nbsp;&nbsp;&nbsp; Messages</li>
       <li (click)="onSelection(3)"><img src="./../../assets/images/reports.png" alt="" height="25.21px" width="35.48px"> &nbsp;&nbsp;&nbsp;&nbsp; Reports</li>
     </ul>
   </li>

   <li>Learning</li>
   <li>
     <ul>
       <li>Home</li>
       <li>Messages</li>
       <li>Reports</li>
     </ul>
   </li>

   <li>Profile</li>
   <li>
     <ul>
       <li>Home</li>
       <li>Messages</li>
       <li>Reports</li>
     </ul>
   </li>

   <li>Admin</li>
   <li>
     <ul>
       <li>Home</li>
       <li>Messages</li>
       <li>Reports</li>
     </ul>
   </li>


</ul>



