section{
position: absolute;
width: 70%;
height: 100%;
left: 365px;
top: 120px;

background: rgba(160, 159, 159, 0.2);
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */


}

.headline{


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;

color: #651FA7;
}



.inline2{
  position:absolute;
  display:inline-block;
  top: 27%;
  width:29%;
  height: 60%;
  background-color:#f2f2f2;

}
.inline2:hover{
  background-color:#d8d7d7 ;
}

a{
  text-decoration: none;
}

.searchbar:focus{
  outline: none;
}
