<section>
  <div class="top">
    <span style="width: 90%;display: inline-block;">
     <h3 style="color: #8b8a8a;font-weight: lighter;">&nbsp;&nbsp;My Worklist</h3>
    </span>
    <span style="display:inline-block;">
      <img src="./../../assets/images/worklist.png" alt="..">
    </span>
  </div>
  <div class="bottom">
    <div style="position: absolute;left: 65%;top:10%;background-color: #dde; height: 70%; border-radius: 5px;">
     <p style="text-align: justify;font-size: 12px;color: #8b8a8a;" class="clickable">&nbsp;&nbsp;Go to Worklist View&nbsp;&nbsp;</p>
    </div>
  </div>
</section>
